
.container {
  display: inline-block;
  background-color: red;
  width: 100%;
  // max-width: 1920px;
  height: 100%;
  // max-height: 1080px;
  background-image: url(../../assets/background.png);
  background: no-repeat url(../../assets/background.png);
} 